button {
  width: 18px;
	height: 18px;
	margin-right: 2px;
	background-color: #f0f0ee;
	background-repeat: no-repeat;
	
	border: 1px solid #f0f0ee;
	padding: 0px;
}

button:hover, button.unselected:hover {
	border: 1px solid #000;
}

button.selected {
	border: 1px solid #ce9100;
	background-color: #ffffff;
}

button.unselected {
	border: 1px solid #f0f0ee;
	background-color: #f0f0ee;
}

button.publish {
	padding:5px;
	display:block;
}

/*textarea.canvases {
	height:300px;
	width: 400px;
}
*/
/*#toolbar {
	width: 400px;
	background-color: #f0f0ee;
	padding: 3px;
	margin-bottom: 4px;
}
*/

#ed_strong {
	background-image: url(/images/textile-editor/bold.png);
}
	
#ed_emphasis {
	background-image: url(/images/textile-editor/italic.png);
}
	
#ed_underline {
	background-image: url(/images/textile-editor/underline.png);
}
	
#ed_strike {
	background-image: url(/images/textile-editor/strikethrough.png);
}	

#ed_ul {
	background-image: url(/images/textile-editor/list_bullets.png);
}
	
#ed_ol {
	background-image: url(/images/textile-editor/list_numbers.png);
}

#ed_p {
	background-image: url(/images/textile-editor/paragraph.png);
}

#ed_h1 {
	background-image: url(/images/textile-editor/h1.png);
}

#ed_h2 {
	background-image: url(/images/textile-editor/h2.png);
}

#ed_h3 {
	background-image: url(/images/textile-editor/h3.png);
}

#ed_h4 {
	background-image: url(/images/textile-editor/h4.png);
}


#ed_indent {
	background-image: url(/images/textile-editor/indent.png);
}

#ed_outdent {
	background-image: url(/images/textile-editor/outdent.png);
}

#ed_justifyl {
	background-image: url(/images/textile-editor/left.png);
}

#ed_justifyc {
	background-image: url(/images/textile-editor/center.png);
}
	
#ed_justifyr {
	background-image: url(/images/textile-editor/right.png);
}
	
#ed_justify {
	background-image: url(/images/textile-editor/justify.png);
}
	
#ed_block {
	background-image: url(/images/textile-editor/blockquote.png);
}